*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0f0f0f;
  color: #fff;
  line-height: 1.6;
}

/* Barra de Navegação */
.navbar {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0000008c;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .fa-whatsapp {
  font-size: 30px;
  color: #25d366;
}

.navbar .logo img {
  max-height: 70px;
}

.navbar nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar nav ul li a {
  color: #d9d9d9;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar nav ul li a:hover {
  color: #3db7e7;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar nav ul {
    position: fixed;
    top: 90px;
    right: -100%;
    width: 100%;
    height: calc(100% - 100px);
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0;
    transition: right 0.3s ease;
    z-index: 999;
  }

  .navbar nav ul li {
    text-align: center;
    border-bottom: 1px solid #333;
  }

  .navbar nav ul li a {
    display: block;
    padding: 20px 0;
    font-size: 18px;
    background-color: black;
  }

  .navbar nav ul li:last-child {
    border-bottom: none;
  }

  .navbar nav ul.active {
    right: 0;
  }
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

footer p a {
  text-decoration: none;
  color: #1877f2;
}

.contact-box a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.contact-box a:hover {
    color: #3db7e7;
}

.contact-box i {
    margin-right: 10px;
    font-size: 1.2rem;
}

/* Contatos */
.contact {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
}

.contact h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #d9d9d9;
}

.contact-box {
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 40px 60px;
  display: inline-block;
  text-align: left;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  max-width: 90%;
}

.contact-box li {
  margin: 15px 0;
  font-size: 1.2rem;
  color: #d9d9d9;
  transition: transform 0.2s ease;
  list-style: none;
}

.contact-box li:hover {
  transform: translateX(5px);
}

.contact-box a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.contact-box a:hover {
  color: #3db7e7;
}

.contact-box i {
  margin-right: 15px;
  font-size: 1.5rem;
}

/* Tablet (até 1024px) */
@media (max-width: 1024px) {
  .hero h1 {
    font-size: 40px;
  }

  .why-us h2 {
    font-size: 32px;
  }

  .feature-card {
    width: 400px;
  }
}

/* Celulares médios (até 768px) */
@media (max-width: 768px) {
  .navbar .logo img {
    max-height: 60px;
  }

  .hero h1 {
    font-size: 33px;
    margin-bottom: 20px;
  }

  .why-us h2 {
    margin-bottom: 40px;
    font-size: 28px;
  }

  .feature-card {
    background: #353535;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
    margin-top: 15px;
  }

  .contact-box li {
    margin: 10px 0;
    font-size: 13px;
    color: #fff;
  }

  .contact-box {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 25px;
    display: inline-block;
    text-align: left;
  }
}

/* cores dos ícones */
.contact-box .fa-envelope {
    color: #D44638;
}

.contact-box .fa-whatsapp {
    color: #25D366;
}

.contact-box .fa-facebook {
    color: #1877F2;
}

.contact-box .fa-instagram {
    color: #E4405F;
}

.contact-box .fa-phone {
    color: #56A829;
}

/* Localização */
.location {
  text-align: center;
  padding: 60px 20px;
  background: #b9b9b9;
  color: #1b1b1b;
}

.location h2 {
  color: #1b1b1b;
  margin-bottom: 15px;
  font-size: 2rem;
}

.location .logo-container {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  background: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.location img {
  max-width: 100%;
  border-radius: 0;
  display: block;
  height: auto;
}

/* Botões */
.btn-primary {
  display: inline-block;
  padding: 14px 30px;
  background: #3a77ff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background: #2958d4;
  transform: translateY(-2px);
}

.btn-secondary {
  display: inline-block;
  padding: 14px 30px;
  background: #ff7f27;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 127, 39, 0.4);
}

.btn-secondary:hover {
  background: #e56a1b;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(255, 127, 39, 0.6);
}

/* highlight */
.highlight-orange {
  color: #ff7f27;
  text-shadow: 0 0 30px #ff7f27, 0 0 45px #000;
}

.highlight-red {
  color: #e53d3d;
  text-shadow:
    0 0 40px #e53d3d,
    0 0 60px #e53d3d;
}

.highlight-roxo {
  color: #544eff;
  text-shadow:
    0 0 40px #544eff,
    0 0 60px #544eff;
}

.highlight-pink {
  color: #d16eb9;
  text-shadow:
    0 0 40px #d16eb9,
    0 0 60px #d16eb9;
}
